@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#app {
  background: #111;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
}

.characters {
  padding: 150px 20px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.character {
  background: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease;
}

.character:hover {
  transform: scale(1.1);
}

.character img {
  width: 100%;
  object-fit: cover;
}

.character_info {
  padding: 20px 10px;
}

footer {
  margin: auto;
  text-align: center;
  padding: 10px 20px;
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

#pagination a {
  display: block;
  background: #f5f5f5;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.5s ease;
}

#pagination a:hover {
  background: crimson;
  color: #fff;
}

#pagination a.active {
  background: #535353;
  color: #fff;
}

.locations {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.location {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location_info h2 {
  margin-bottom: 20px;
}

.location_info p {
  margin: 8px 0;
}

.episodes {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.episode {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.episode_info h2 {
  margin-bottom: 20px;
}

.episode_info p {
  margin: 8px 0;
}